@import 'mixins';


.contact {
    background-color: antiquewhite;


    &__title {
    
        max-width: 100%;
        margin: 0 auto 88px auto;
        text-align: center;
        line-height: 180px;
        background-color: white;
    
        &--sub {
            font-size: 40px;
            margin-bottom: -175px;
            font-weight: bold;
            
    
        }
    
        &--desc {
            font-size: 21px;
            margin-bottom: -137px;
            margin-top: 50px;
        }
    }
    
    & .formcontact {
            width: 400px;
            padding: 13px 5px;
            border: 5px solid rgb(0, 0, 0);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 140px auto 124px auto;
            background: $clr--primary;
    
        &__input {
            @include forminput();
        }
    
        &__messages {
            width: 350px;
            margin: 10px auto;
            background-color: aliceblue;
            height: 130px;
            font-family: 'Montserrat', sans-serif;
            border: 2px solid rgb(0, 0, 0);
        }
    
        &__button {
    
            @include formbutton();
    
            &:hover {
                background: rgb(67, 67, 248);
            }
    
            &:active {
                background-color: rgb(0, 124, 128);
                box-shadow: 0 5px rgb(0, 0, 0);
                transform: translateY(4px);
            }
        }    
    }
}
