@import 'fonts';



.footer {
    background-image: url(../images/footer-bg.webp);
    padding: 10px 0;
    max-width: 100%;

    &__link {
        text-align: center;
        font-size: 19px;
        margin: 7px auto 15px auto;
        list-style: none;
        
        & a {
            text-decoration: none;
            color: aliceblue;
        }
    }

    &__socialmedia {
        margin: 0 auto;

        &--link {
        display: flex;
        justify-content: center;
        align-items: center;
        
            & img {
            width: 35px;
            margin: 10px 35px;
            background-color: aliceblue;
            }
        }

    }

    &__copyright {
        text-align: center;
        font-size: 18px;
        margin: 10px auto 15px auto;
        font-family: 'Montserrat', sans-serif;
        color: aliceblue;
    }
}





