@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

/*  color variables */



header {
    font-family: Montserrat;
    background: rgb(0, 0, 0);
    font-weight: bold;

}


.nav {
    position: fixed;
    width: 100%;

    &__list {
        background: rgb(22, 22, 22);
        box-shadow: 0px 0px 10px $clr-gray200;
        margin: 0;
        padding: 6px 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    
        &--item {
            list-style: none;
            margin-right: 6rem;
            
        }
    
        &--item > h1 {
            text-align: left;
            width: 300px;
            margin-right: 600px;
            margin-left: 2rem;
            color: rgb(255, 255, 255);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            font-size: 20px;
            padding-left: 2em;
        }

        &--item > a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            transition: all 200ms ease-in;

            &:hover {
                color: $clr--primary-hover;
            }
        }

        &--item > button {
            font-family: sans-serif;
            font-size: 1rem;
            background: $clr--primary;
            border: none;
            outline: none;
            border-radius: $radius;
            padding: 0.5rem 1rem;
            cursor: pointer;
            transition: all 200ms ease-in;
            font-weight: bold;
            
            & a {
                text-decoration: none;
                color: #555;

                &:hover {
                    color: aliceblue;
                }
            }

            &:hover {
                background: blue;
            }
        }
    }
}
