@import 'mixins';


.herobanner {
    background-image: url(../images/bg1.png);
    margin: 0;
    padding: 227px 200px;

    &__article {
        float: right;
        margin-top: 96px;
        margin-right: 266px;
        font-weight: lighter;

        &--title {
            font-size: 35px;
            font-weight: normal;

            & strong {
                color: aliceblue;
                font-size: 35px;
                font-weight: bold;
            }
        }

        &--subtitle {
            margin-top: 4px;
            padding: 8px;
            font-size: larger;
            font-weight: bold;
            text-transform: uppercase;
            background: $clr--primary;
        }
        
        & + img {
            width: 350px;
            margin-left: 300px;
        }
    }   
}

.services {
    background-image: url("../images/portfolio11.webp");
    background-size: cover;
    width: 100%;
    height: 764px;
    padding: 20px 20px;
    color: aliceblue;
    text-align: center;

    &__title {
        text-align: center;
        margin-top: 80px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 60px;
    }


    &__line {
        border: 2px solid $clr--primary;
        background-color: $clr--primary;
        padding: 4px 2px;
        margin: 10px auto 15px auto;
        width: 150px; 
    }

    & .post {
        text-align: center;
        padding: 20px;
        margin: 15px auto;
        color: $clr--primary;
        max-width: 100%;
        width: 1034px;
        

        &__card {
            width: 250px;
            float: left;
            margin: 0 40px 20px 40px;
            
            &--title {
                margin-bottom: 10px;
                font-weight: bold;
                font-size: 24px;
                padding: 5px;
                background-color: #ffffff;
            }

            &--desc {
                color: #ffffff;
                padding: 8px;
                margin-top: 30px;
                line-height: 20px;
                background-color: #5bbe93;
                text-align: left;
            }
            
        }
    }

    &__links {
        @include buttonlarge();
        
        &:hover {
            
            background-color: $clr--primary;
            color: aliceblue;
        }
    }

    .post:after {
        clear: both; content: ""; display: block;
    }
}







