@mixin forminput {
    width: 350px;
    margin: 10px auto;
    background-color: aliceblue;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid rgb(0, 0, 0);
    font-size: medium;
}

@mixin formbutton {
    background-color: #d45500;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    font-weight: bolder;
    color: aliceblue;
    margin: 10px 0 8px 0;
}

@mixin buttonlarge {
    background: rgb(67, 67, 248);
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    font-weight: bolder;
    color: aliceblue;
}