@import 'fonts';

.portfolio {
    padding: 150px 0;
    background-color: gray;

    &__container {
            text-align: center;

        &--title {
        font-family: 'Montserrat', sans-serif;
        color: aliceblue;
        font-weight: bolder;
        font-size: 39px;
        }

        &--subtitle {
            font-weight: bold;
            font-size: 28px;
            margin-top: 20px;
            color: $clr--primary;
        }
    }

    &__box {
        width: 800px;
        margin: auto;
        padding: 50px 0;
        
        &--item {
            float: left;
            width: 20%;

            & img {
                width: 100%;

                &:hover {
                    transform: translateY(10px);
                    width: 160px;
                    height: 160px;                  
                }
            }
        }
    }

    &__box::after {
        clear: both; content: ""; display: block;
    }
}

