@@include('../shared/header.html', {
    "style": [
      "assets/css/main.css"
    ]
  })

  <!-- ini contact form-->

<main class="contact">
  <div class="contact__title">
    <h2 class="contact__title--sub">Contact me</h2>
    <p class="contact__title--desc">I am very grateful if you fill it in below</p>
  </div>
    <form class="formcontact" action="formcontact">
      <input class="formcontact__input" type="text" id="name" name="name" placeholder="Your name here..">
      <input class="formcontact__input" type="email" id="email" name="email" placeholder="Your email here..">
      <input class="formcontact__input" type="text" id="number" name="type" placeholder="Your phone number here..">
      <select class="formcontact__input" id="country" name="country">
        <option value="indonesia">Indonesia</option>
        <option value="malaysia">Malaysia</option>
        <option value="australia">Australia</option>
        <option value="japan">Japan</option>
        <option value="singapore">Singapore</option>
      </select>
      <textarea id="subject" class="formcontact__messages" name="subject" placeholder="Your messages here.."></textarea>
      <button class="formcontact__button" type="submit">submit</button>
  
    </form>
</main>


@@include('../shared/footer.html', {
    "script": [
      "assets/js/app.min.js"
    ]
  })