<!-- Ini adalah HTML untuk halaman index.html -->
<!-- Sisipkan HTML bagian header di sini, dan juga file CSS yang dibutuhkan -->
@@include('../shared/header.html', {
  "style": [
    "assets/css/main.css"
  ]
})
<!-- bagian header selesai -->

<!-- Tulis semua coding kalian mulai dari sini -->
<main id="home" class="home">
  <section class="herobanner" >
      <div class="herobanner__article">
        <h2 class="herobanner__article--title">Hi, I Am <br> <strong>Depras Mahaputra.</strong> </h2>
        <p class="herobanner__article--subtitle">junior front-end </p>
      </div>
        <img src="assets/images/depras.jpg" alt="depras-photo">
  </section>

<!-- services -->

<section id="services" class="services">
  <h2 class="services__title">What I do</h2>

  <hr class="services__line">
  
  <div class="post">
    <div class="post__card">
      <h3 class="post__card--title">Design Web</h3>
      <p class="post__card--desc">Responsible for creating the design and layout of a website or web pages. It and can mean working on a brand new website or updating an already existing site. Their role is different to web developers, who specialise in making web designs a reality or writing code that
      </p>
    </div>

    <div class="post__card">
      <h3 class="post__card--title">Development Web</h3>
      <p class="post__card--desc">Design, create and maintain websites, providing in the process a cohesive and reality or writing code that dictates how different parts of the website fit together. Between user-friendly online portal for the use of clients, customers, work colleagues and other interested parties. They incorporate content</p>
    </div>

    <div class="post__card">
      <h3 class="post__card--title">Consulting Web</h3>
      <p class="post__card--desc">Consult with clients to determine the scope of website development projects, implement SEO strategies to increase traffic flow to websites, and maintain websites. They may be employed by web design firms and businesses, or work as private consultants. Their role is different to web developers.
      </p>
    </div>
  </div> 

  <a href="portfolio.html" class="services__links">My Work</a>
</section>

</main>
<!-- Penulisan coding selesai di sini -->


<!-- Sisipkan HTML bagian footer di sini, dan juga file JS yang dibutuhkan -->
@@include('../shared/footer.html', {
  "script": [
    "assets/js/app.min.js"
  ]
})
<!-- bagian footer selesai -->