<!-- Ini adalah HTML untuk halaman index.html -->
<!-- Sisipkan HTML bagian header di sini, dan juga file CSS yang dibutuhkan -->
@@include('../shared/header.html', {
    "style": [
      "assets/css/main.css"
    ]
  })
  <!-- bagian header selesai -->
  
  <!-- Tulis semua coding kalian mulai dari sini -->
  
  <!-- My Portfolio -->
  
<main id="portfolio" class="portfolio">
  <section class="portfolio__container">
    <h2 class="portfolio__container--title">My Work</h2>
    <p class="portfolio__container--subtitle">A selection of my range of work</p>
  </section>

  <section class="portfolio__box">
    <a href="#" class="portfolio__box--item">
      <img src="assets/images/port1.png" alt="portfolio1">
    </a>
    
    <a href="#" class="portfolio__box--item">
      <img src="assets/images/port2.png" alt="portfolio2">
    </a>
    
    <a href="#" class="portfolio__box--item">
      <img src="assets/images/port3.png" alt="portfolio3">
    </a>

    <a href="#" class="portfolio__box--item">
      <img src="assets/images/port4.png" alt="portfolio4">
    </a>

    <a href="#" class="portfolio__box--item">
      <img src="assets/images/port5.png" alt="portfolio5">
    </a>

    <a href="#" class="portfolio__box--item">
      <img src="assets/images/port6.png" alt="portfolio6">
    </a>
    
    <a href="#" class="portfolio__box--item">
      <img src="assets/images/port7.png" alt="portfolio7">
    </a>

    <a href="#" class="portfolio__box--item">
      <img src="assets/images/port8.png" alt="portfolio8">
    </a>
    
    <a href="#" class="portfolio__box--item">
      <img src="assets/images/port9.png" alt="portfolio9" >
    </a>
    
    <a href="#" class="portfolio__box--item">
      <img src="assets/images/port10.png" alt="portfolio10">
    </a>
  </section>
</main>
  
  <!-- Penulisan coding selesai di sini -->
  
  
  <!-- Sisipkan HTML bagian footer di sini, dan juga file JS yang dibutuhkan -->
  @@include('../shared/footer.html', {
    "script": [
      "assets/js/app.min.js"
    ]
  })
  <!-- bagian footer selesai -->