
<!-- Ini adalah "penggalan" HTML untuk bagian footer. Semua halaman akan menggunakan footer yang sama. -->

<footer id="footer" class="footer">
  <div class="footer__link">
    <a href="mailto:deprasmahaputra@gmail.com">
      deprasmahaputra@gmail.com
    </a>
  </div>

  <nav class="footer__socialmedia">
    <ul class="footer__socialmedia--link">
      <li>
        <a href="https://codepen.io">
          <img src="assets/images/gitlab2.png" alt="gitlab-logo">
        </a>
      </li>
      <li>
        <a href="https://dribble.com">
          <img src="assets/images/twt-logo.svg" alt="twitter-logo">
        </a>
      </li>
      <li>
        <a href="https://facebook.com">
          <img src="assets/images/facebook-logo.svg" alt="facebook-logo">
        </a>
      </li>
      <li>
        <a href="https://instagram.com">
          <img src="assets/images/iglogo.svg" alt="instagram-logo">
        </a>
      </li>
    </ul>

  </nav>

  <p class="footer__copyright">copyright &copy; 2022 deprasmahaputra all right reserved.</p>

</footer>

@@if(context.script) {
  @@for(var i=0; i < script.length; i++) {
  <script src="`+script[i]+`" ></script>
  }
}
  </body>
</html>

<!-- Penggalan HTML footer berhenti di sini -->